<div class="banner">

      <div class="bg-color">
     <font color="white"> <p id="notice"><%= notice %></p>
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <div class="text-border">
                <h1 class="text-dec"><b>AM<font color="#f9c00c">Y</font>RA</h1></b>
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">We Build Websites</p>
                <p class="small-text">Whatever your project, we've got it covered with love. </p>
                <a href="https://api.whatsapp.com/send?phone=+919308686070&text=I'm%20interested%20in%20web%20development"class="btn">GET IN TOUCH</a>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</font>
</div>
</div>
</div>

 <!---->

    <section id="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
           <center>  <img src="https://dl.dropboxusercontent.com/s/orfkl96cv35oa0c/amyra%20creative.png?dl=0" class="img-responsive img-circle" alt=""> </center>
              </div>
              <h3 class="pad-bt15">Who We Are</h3>
              <hr class="bottom-line">
              <p>We're a small team, just like you. We're here to help you get the most of your business.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
              <center>  <img src="https://dl.dropboxusercontent.com/s/cfwhbz65datav4j/digital%20agency%20ckp.png?dl=0" class="img-responsive img-circle" alt=""> </center>
              </div>
              <h3 class="pad-bt15">What We Do</h3>
              <hr class="bottom-line">
              <p>Our services include web solutions, startup prototype, e-commerce,mobile solutions, visual branding and inbound marketing.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                  <center>  <img src="https://dl.dropboxusercontent.com/s/rhng7g1t6htfwp2/amyra%20ckp.png?dl=0" class="img-responsive img-circle"> </center>
              </div>
              <h3 class="pad-bt15">How We Do</h3>
              <hr class="bottom-line">
              <p>We analyse your needs and provide strategic consulting to help you grow your business.</p>
            </div>
          </div>
          
    </section>
   
    <!---->

     <!---->
    <section id="service" class="section-padding">
      <div class="container">
        <div class="row">
<div class="col-md-4">
<div class="item-img">
           <center>  <img src="https://dl.dropboxusercontent.com/s/xws51rvjpvicaen/amyra.jpg?dl=0" class="img-responsive img-circle" alt=""> </center>
           </div>
           </div>

          <div class="col-md-8">
            <div class="wrap-item text-center">
             <font color="white">
             <br>
             <br>
             <br>
              <h3><font color="white">What We Use</font></h3>
              <hr class="bottom-line">
            <p>In our projects we use latest technologies such as Ruby on Rails, Bootstrap, HTML5, CSS3, SASS, AngularJS and Ember. The world is going multi-device and we are fully aware of it. This is why we work extra hard on developing easy to use applications for every platform.</p></font>
            </div>
          </div>
          </div>
          </div>
          </section>
          
             
          
 <section id="feature" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="wrap-item text-center">
              <h3>Our Work</h3><hr class="bottom-line">
               <p>Don't just take our word for it. Check out what we've actually done.</p>
               </div>
               </div>
               </div>
               <br>
               <br>
               <div class="col-md-4">
               <div class="team-album">
               <div class="tumbnail">
               <a class="team-hyper">
           <img src="https://dl.dropboxusercontent.com/s/yv4dh4z3ikh5cs7/ranjit%20chandra.png?dl=0" class="img-responsive img-circle" alt="">
              <span>
                
                <p class="team-designation">RANJIT CHANDRA - Founder Digital Vidyah</p>
                <p class="team-des">His idea was superb and we thought that it should be on internet.We helped him develop his startup prototype Digital Vidyah, an online platform for finding tutors.</p>
              </span>
            </a>
            </div>
            </div>
            </div>

            <div class="col-md-4">
               <div class="team-album">
               <div class="tumbnail">
               <a class="team-hyper">
           <img src="https://dl.dropboxusercontent.com/s/lf6p7ywm7q36ufq/yoga%20classes.png?dl=0" class="img-responsive img-circle" alt="">
              <span>
                
                <p class="team-designation">SHALINI SINGH - Founder Yoga Mantra</p>
                <p class="team-des">Shalini wants her YOGA MANTRA's digital presence.We developed a blog and website for her. Now she takes online registration for her classes through website. </p>
              </span>
            </a>


            </div>
            </div>
            </div>

            <div class="col-md-4">
               <div class="team-album">
               <div class="tumbnail">
               <a class="team-hyper">
           <img src="https://dl.dropboxusercontent.com/s/gngsonnvb0hk4yp/rashes.png?dl=0" class="img-responsive img-circle" alt="">
              <span>
                
                <p class="team-designation">HAIDER IMAM - Founder Rashes Jeans</p>
                <p class="team-des">Haider Bhai wants his brand promotion on social network.We suggested him for inbound marketing and choose Whats App and Instagram .We made a solid store front by combining the apps and coordinated the payments via Instamojo.</p>
              </span>
            </a>
            </div>
            </div>
            </div>
            </div>
            </div>
            </section>

        
             <!---->
    <section id="testimonial">
      <div class="bg-testicolor">
      <div class="section-padding">
        <div class="container">
        <div class="row">
          <div class="testimonial-item">
          <div class="col-md-12 text-center">
            <font color="white">
            
              <h3><font color="white">Meet The Team</font></h3>
              <hr class="bottom-line">
            <ul class="bxslider">
              <li>
                
                 <img src="https://dl.dropboxusercontent.com/s/ooqeggsn084omcj/radhika%20sen.png?dl=0" class="img-responsive img-circle" alt="">
                  <br>
                  
                  <br>
                <small>Samreen Hussain, Founder</small>
              </li>
              <li>
                
              <img src="https://dl.dropboxusercontent.com/s/su1il0dzii06cp1/Abdul%20Basit.png?dl=0" class="img-responsive img-circle" alt="">
                  <br>
                  <br>
                <small>Akhtar Parwej, Coder</small>
              </li>
              <li>
                
                    <img src="https://dl.dropboxusercontent.com/s/s9zo6e2kwvcp1m3/vivek%20singh.png?dl=0" class="img-responsive img-circle" alt="">
                  <br><br>
                
                <small>Arif Zafar, Lead Developer</small>
              </li>
              <li>
              </br>
                
                 <img src="https://dl.dropboxusercontent.com/s/y6p6b0ptuqwvwca/saina.png?dl=0" class="img-responsive img-circle" alt="">
                  <br><br>
                
                <small>Amit Prajapati, Sales Head</small>
              </li>
              <li>
                
              <img src="https://dl.dropboxusercontent.com/s/su1il0dzii06cp1/Abdul%20Basit.png?dl=0" class="img-responsive img-circle" alt="">
                  <br>
                  <br>
                <small>Akhtar Parwej, Coder</small>
              </li>
              </ul>
            </ul>
          </div>
        </div>
        </div>
      </div></font>
    </section>
    <!---->

     <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
         <div class="col-md-12 text-center">
            <h3 class="service-title pad-bt15">Get in Touch</h3><hr class="bottom-line">

            <p>We are always happy to hear from you and would love to make friends, so don't hesitate to drop us a line or come and visit us.</p>
            <br>
            <br>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
             <span class="polor">    <i class="fa fa-map-marker fa-3x"></i> </i></span>
              </div>
            <p>Rajbari Road</p>
            <p>Planet M</p>
            <p>Chakradharpur</p>
            <p>Jharkhand - 833102 </p>
            <a class="btn btn-success " href="https://api.whatsapp.com/send?phone=9308686070&text=I'm%20interested%20in%20web%20development">Whats App</a>
            <br><br>
            <a class="btn btn-primary " href="mailto:planetckp@gmail.com">Send an Email</a>
          
           </br>
          <br>
                    
            <font color="#3b5998">    <i class="fa fa-facebook fa-3x"></i> </i></font>
            <font color="#2b90d9">    <i class="fa fa-twitter fa-3x"></i> </i></font>
            <font color="#d34836">    <i class="fa fa-google-plus fa-3x"></i> </i></font>
            </div>
          </div>
          
            </div>
          </div>
          </div>
          </section>



          
   
    




